h1 {
    font-size: 2rem;
}

p {
    line-height: 1.5;
}

h1, p {
    margin-bottom: 0.25rem;
}

table {
    width: 100%;

    th {
        font-weight: bold;
    }

    th, td {
        padding: 0.5rem;
    }

    // Separate color every row
    tr:nth-child(even) { background-color: $color-background; }
}

main > article {
    @include card($card-style);
}
