h1 {
    font-size: 2rem;
    line-height: 1.1;
}

p {
    line-height: 1.5;
}

h1, p {
    margin-bottom: 0.5rem;
}

table {
    width: 100%;

    th {
        font-weight: bold;
    }

    th, td {
        padding: 0.5rem;
    }

    // Separate color every row
    tr:nth-child(even) { background-color: $color-background; }
}

main > article {
    @include card($card-style);
}

main > form {
    @include card($card-style);

    label, input, button {
        display: block;
        margin-bottom: 0.5rem;
    }
}
