h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

table {
    width: 100%;
    @include card($card-style);

    th {
        font-weight: bold;
    }

    th, td {
        padding: 0.5rem;
    }

    // Separate color every row
    tr:nth-child(even) { background-color: $color-background; }
}
