@import "semancer";

$color-highlight: #d64933;
$color-text: #fff8f0;
$color-background: #2b303a;
$color-background-light: #383f4c;

$card-style: (
    background-color: $color-background-light,
    padding: 1rem, spacing: 1rem,
    border-radius: 0.25rem
);

@import "generic";
@import "layout";
