<html>
    <head>
        <title>Sapphire Hail</title>
         <link rel="stylesheet" type="text/css" href="/public/style.css">
    </head>
    <body>
        <div class="content">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/number/1">Number #1</a></li>
                <li><a href="/number/2">Number #2</a></li>
                <li><a href="/rowtest">Row Test</a></li>
            </ul>
            {{{content}}}
        </div>
    </body>
</html>
