<html>
    <head>
        <meta charset="utf-8" />
        <title>Sapphire Hail</title>
        <link rel="stylesheet" type="text/css" href="/public/style/style.css" />
    </head>
    <body>
        <nav>
            <a class="brand" href="/">Sapphire Hail</a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/rowtest">Row Test</a></li>
                <li><a href="/projects/new">New Project</a></li>
            </ul>
        </nav>
        <main>
            {{{content}}}
        </main>
        <footer>
            Copyright &copy; 2016 Carbide Games
        </footer>
    </body>
</html>
