<html>
    <head>
        <title>Sapphire Hail</title>
         <link rel="stylesheet" type="text/css" href="/public/style/style.css">
    </head>
    <body>
        <nav class="sh-navbar">
            <a class="navbar-brand" href="/">Sapphire Hail</a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/number/1">Number #1</a></li>
                <li><a href="/number/2">Number #2</a></li>
                <li><a href="/rowtest">Row Test</a></li>
            </ul>
        </nav>
        <main>
            {{{content}}}
        </main>
    </body>
</html>
