<article>
    <h1>{{text}}</h1>
    <section class="card">
        <p>
            This is the "hello" template, you can change the title by changing
            "text" in the model.
        </p>
    </section>
</article>
