<form action="/projects/new" method="post">
    <h1>New Project</h1>
    <label for="inputTitle">Title</label>
    <input name="title" id="inputTitle" type="text" autocomplete="off" />
    <button type="submit">Create</button>
</article>
